:root {
    --oldprimary: #0373fc;
    --primary: red;
    --secondary: #EEEEEE;
    --contrast: #DEDEDE;
    --warning: yellow;
    --danger: red;
    --white: white;
    --offwhite: lightgrey;
    --black: black;

    --leftMargin: 3%;
}

* {
    box-sizing: border-box;
}

BODY {
    background-attachment: fixed;
    background-image: url("./images/noisy_grid.png");
    font-family: "Roboto";
    font-size: 16px;
    /* font-family: arial;
    font-size: 12pt;
    color: #000000; */
}

BODY.MENU {
    /* font-family: arial; */
    background-attachment: fixed;
    /* background-image: url(c8.jpg); */
    /* font-size: 11pt; */
    color: #FFFFFF;
}

A:link.MENU {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: var(--primary);
}

A:visited.MENU {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: var(--primary);
}

A:hover.MENU {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: #990000;
}

A:link.COLOR {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: var(--primary);
}

A:visited.COLOR {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: var(--primary);
}

A:hover.COLOR {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: #990000;
}

A:link {
    /* font-family: arial; */
    color: var(--primary);
}

A:visited {
    /* font-family: arial; */
    color: var(--primary);
}

A:hover {
    /* font-family: arial; */
    color: #990000;
}

H4 {
    /* font-family: arial; */
    font-size: 20pt;
}

H5 {
    /* font-family: arial; */
    font-size: 15pt;
}

/* img.banner {
    position: absolute;
    left: 60px;
    top: 7px;
}

img.banner2 {
    position: absolute;
    right: 60px;
    top: 7px;
} */

img.sample {
    max-width: 500;
    position: center;
}

img.sample1 {
    width: 500;
    position: center;
}

img.sample2 {
    max-width: 200;
    position: center;
}

p.text {
    font-family: arial;
    font-size: 12pt;
    color: #000000;
}

li.text {
    /* font-family: arial; */
    /* font-size: 10pt; */
    color: #000000;
}

li.bodytext {
    /* font-family: arial;
    font-size: 10pt; */
    color: #000000;
}

span.textbold {
    /* font-family: arial; */
    font-weight: bold;
    /* font-size: 12pt; */
    color: #000000;
}

p.textbold {
    /* font-family: arial; */
    font-weight: bold;
    /* font-size: 12pt; */
    color: #000000;
}

span.featuredtext {
    /* font-family: arial; */
    font-size: 10pt;
    color: #000000;
}

span.ctext {
    /* font-family: arial; */
    font-size: 8pt;
    color: #000000;
}

#information {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.tab {
    border: none;
    display: block;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
}

html,
body,
table,
.tab {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

td,
tr {
    padding: 0;
    margin: 0;
    border: 0;
}

.nav {
    display: flex;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-flex;
    margin: .4rem;
}

.banner,
.footer {
    background-color: var(--secondary);
}

.footer {
    font-size: .8rem;
}

h2 {
    margin-left: calc(1*var(--leftMargin));
}

h3,
.level2 {
    margin-left: calc(2*var(--leftMargin));
}

h4,
.level4 {
    margin-left: calc(3*var(--leftMargin));
}

body>h5 {
    width: 90%;
    margin: auto;
    margin-bottom: .4rem;
}

.products {
    width: 95%;
    margin: auto;
}

.products details,
summary {
    color: var(--black);
    padding: .3rem;
}

.products details details {
    margin: auto;
    width: 95%;
}

.products summary {
    font-size: 1.3rem;
    font-weight: bold;
    border: 0;
    outline: none;
}

.products a,
li {
    /* background-color: var(--lightsecondary); */
    margin: .07rem;
}

/* .products a {
    padding: 1rem;
    border-radius: 30%;
    border: 2px solid var(--black);

} */

.columns2 {
    margin: auto auto;
    display: grid;
    grid-template-columns: 25% 70%;
    grid-gap: 1rem;
}

.columns2 .left {
    justify-self: right;
}

.columns2 .right {
    justify-self: left;
}

.logo {
    width: clamp(60%, 50%, 90%)
}