:root {
    --oldprimary: #0373fc;
    --primary: red;
    --secondary: #EEEEEE;
    --contrast: #DEDEDE;
    --warning: yellow;
    --danger: red;
    --white: white;
    --offwhite: lightgrey;
    --black: black;
    --leftMargin: 3%;
}

* {
    box-sizing: border-box;
}

BODY {
    background-attachment: fixed;
    background-image: url("./images/noisy_grid.png");
    font-family: "Roboto";
    font-size: 16px;
}

BODY.MENU {
    background-attachment: fixed;
    color: #FFFFFF;
}

iframe {
    margin-top: 1rem;
}

A:link.MENU {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
}

A:visited.MENU {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
}

A:hover.MENU {
    text-decoration: none;
    font-weight: bold;
    color: #990000;
}

A:link.COLOR {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary);
}

A:visited.COLOR {
    /* font-family: arial; */
    text-decoration: none;
    font-weight: bold;
    /* font-size: 12pt; */
    color: var(--primary);
}

A:hover.COLOR {
    text-decoration: none;
    font-weight: bold;
    color: #990000;
}

A:link {
    color: var(--primary);
}

A:visited {
    color: var(--primary);
}

A:hover {
    color: #990000;
}

H4 {
    font-size: 20pt;
}

H5 {
    font-size: 15pt;
}

section {
    font-size: 1.3rem;
    font-weight: bold;
    margin: .5rem 0 .7rem var(--leftMargin);
}

img.sample {
    max-width: 500;
    position: center;
}

img.sample1 {
    width: 500;
    position: center;
}

img.sample2 {
    max-width: 200;
    position: center;
}

p.text {
    font-family: arial;
    font-size: 12pt;
    color: #000000;
}

li.text {
    color: #000000;
}

li.bodytext {
    color: #000000;
}

span.textbold {
    font-weight: bold;
    color: #000000;
}

p.textbold {
    font-weight: bold;
    color: #000000;
}

span.featuredtext {
    font-size: 10pt;
    color: #000000;
}

span.ctext {
    font-size: 8pt;
    color: #000000;
}

#information {
    width: clamp(20ch, 75%, 80ch);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

article {
    width: clamp(20ch, 75%, 80ch);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.tab {
    border: none;
    display: block;
    overflow-y: scroll;
}

table,
tr {
    table-layout: fixed;
    border-collapse: collapse;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table,
.tab {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


td,
tr {
    padding: .3rem;
    margin: 0;
    border: 0;
    vertical-align: top;
}

.nav {
    display: flex;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 1rem;
}

nav li {
    display: inline-flex;
    margin: .4rem;
}

.banner,
.footer {
    background-color: var(--secondary);
}

.footer {
    font-size: .8rem;
}

h2 {
    margin-left: calc(1*var(--leftMargin));
}

h3,
.level2 {
    margin-left: calc(2*var(--leftMargin));
}

h4,
.level4 {
    margin-left: calc(3*var(--leftMargin));
}

body>h5 {
    width: 90%;
    margin: auto;
    margin-bottom: .4rem;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.center img {
    max-width: 95%;
    object-fit: scale-down;
    margin-top: 1rem;
    border: .5rem solid darkgray;
}

.industrial-labeling {
    flex-direction: column;
}

.industrial-labeling p {
    font-size: 1.3rem;
    font-weight: bold;
}

.shrink {
    padding: .5rem;
    max-width: 50vw;
}

.shrink25 {
    padding: .5rem;
    max-width: 25vw;
}

.contact-items {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}

.contact-item {
    flex: 1;
    margin-left: .4rem;
}

.contact-item .label {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
}

.logo {
    width: clamp(280px, 75%, 600px)
}